@import "../components/cropViewer/CropViewer";
@import "../components/cropsList/CropsList";

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  
  .crop-menu {
    margin-left: 10px;
    border-left: 2px solid gray;
    height: 100%;
    max-width: 400px;
  }
}
