$border-size: 1.5px;
$corner-size: 10px;

.ReactCrop {
  position: relative;
  display: inline-block;
  cursor: crosshair;
  overflow: hidden;
  max-width: 100%;
  background-color: #000;
}

.ReactCrop:focus {
  outline: none;
}

.ReactCrop--disabled, .ReactCrop--locked {
  cursor: inherit;
}

.ReactCrop__image {
  display: block;
  max-width: 100%;
  touch-action: manipulation;
}

.ReactCrop--crop-invisible .ReactCrop__image {
  opacity: 0.5;
}

.ReactCrop__crop-selection {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  box-sizing: border-box;
  cursor: move;
  box-shadow: 0 0 0 9999em rgba(0, 0, 0, 0.5);
  touch-action: manipulation;
  border: $border-size solid aquamarine;
  border-radius: 5px;
}

.ReactCrop--disabled .ReactCrop__crop-selection {
  cursor: inherit;
}

.ReactCrop--circular-crop .ReactCrop__crop-selection {
  border-radius: 50%;
}

.ReactCrop__rule-of-thirds-vt::before, .ReactCrop__rule-of-thirds-vt::after, .ReactCrop__rule-of-thirds-hz::before, .ReactCrop__rule-of-thirds-hz::after {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
}

.ReactCrop__rule-of-thirds-vt::before, .ReactCrop__rule-of-thirds-vt::after {
  width: 1px;
  height: 100%;
}

.ReactCrop__rule-of-thirds-vt::before {
  left: calc(100% / 3);
}

.ReactCrop__rule-of-thirds-vt::after {
  left: calc(100% / 3 * 2);
}

.ReactCrop__rule-of-thirds-hz::before, .ReactCrop__rule-of-thirds-hz::after {
  width: 100%;
  height: 1px;
}

.ReactCrop__rule-of-thirds-hz::before {
  top: calc(100% / 3);
}

.ReactCrop__rule-of-thirds-hz::after {
  top: calc(100% / 3 * 2);
}

.ReactCrop__drag-handle {
  position: absolute;
  width: $corner-size;
  height: $corner-size;
  box-sizing: border-box;
  border-radius: 50%;
}

.ReactCrop .ord-nw {
  border-left: $border-size solid aquamarine;
  transform: rotate(45deg);
  top: 0;
  left: 0;
  margin-top: -5px;
  margin-left: -5px;
  cursor: nw-resize;
}

.ReactCrop .ord-ne {
  border-right: $border-size solid aquamarine;
  transform: rotate(-45deg);
  top: 0;
  right: 0;
  margin-top: -5px;
  margin-right: -5px;
  cursor: ne-resize;
}

.ReactCrop .ord-se {
  border-right: $border-size solid aquamarine;
  transform: rotate(45deg);
  bottom: 0;
  right: 0;
  margin-bottom: -5px;
  margin-right: -5px;
  cursor: se-resize;
}

.ReactCrop .ord-sw {
  border-left: $border-size solid aquamarine;
  transform: rotate(-45deg);
  bottom: 0;
  left: 0;
  margin-bottom: -5px;
  margin-left: -5px;
  cursor: sw-resize;
}

.ReactCrop__disabled .ReactCrop__drag-handle {
  cursor: inherit;
}

.ReactCrop__drag-bar {
  position: absolute;
}

.ReactCrop--new-crop .ReactCrop__drag-bar,
.ReactCrop--new-crop .ReactCrop__drag-handle,
.ReactCrop--fixed-aspect .ReactCrop__drag-bar {
  display: none;
}

.ReactCrop--fixed-aspect .ReactCrop__drag-handle.ord-n,
.ReactCrop--fixed-aspect .ReactCrop__drag-handle.ord-e,
.ReactCrop--fixed-aspect .ReactCrop__drag-handle.ord-s,
.ReactCrop--fixed-aspect .ReactCrop__drag-handle.ord-w {
  display: none;
}

@media (pointer: coarse) {
  .ReactCrop__drag-handle {
    width: 20px;
    height: 20px;
  }
  .ReactCrop .ord-nw {
    margin-top: -10px;
    margin-left: -10px;
  }
  .ReactCrop .ord-ne {
    margin-top: -10px;
    margin-right: -10px;
  }
  .ReactCrop .ord-se {
    margin-bottom: -10px;
    margin-right: -10px;
  }
  .ReactCrop .ord-sw {
    margin-bottom: -10px;
    margin-left: -10px;
  }
}
