$corner-size: 10px;

.cropper-container {
  position: relative;
  display: inline-block;
  cursor: crosshair;
  overflow: hidden;
  max-width: 100%;
  background-color: #000;
  width: 100px;
  height: 100px;

  .cropper-body {
    position: absolute;
    width: 90%;
    height: 90%;
    border: 2px solid aquamarine;
    border-radius: 5px;
    top: 3px;
    left: 3px;
  }
  
  .top-left-corner {
    position: absolute;
    top: 1px;
    left: 1px;
    width: $corner-size;
    height: $corner-size;
    border-left: 2px solid aquamarine;
    border-radius: 50%;
    transform: rotate(45deg);
  }
  
  .top-right-corner {
    position: absolute;
    top: 1px;
    right: 1px;
    width: $corner-size;
    height: $corner-size;
    border-right: 2px solid aquamarine;
    border-radius: 50%;
    transform: rotate(-45deg);
  }
  
  .bottom-left-corner {
    position: absolute;
    bottom: 1px;
    left: 1px;
    width: $corner-size;
    height: $corner-size;
    border-left: 2px solid aquamarine;
    border-radius: 50%;
    transform: rotate(-45deg);
  }
  
  .bottom-right-corner {
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: $corner-size;
    height: $corner-size;
    border-right: 2px solid aquamarine;
    border-radius: 50%;
    transform: rotate(45deg);
  }
}